body {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 150px minmax(300px, 35rem) 300px 1fr;
}
nav {
	grid-row: 1;
	grid-column: 2;
	margin-top: 3.5rem;
	text-wrap: nowrap;
}
nav > a {
	display: block;
	margin: 1rem;
}
article {
	grid-row: 1;
	grid-column: 3;
	max-width: 35rem;
}
footer {
	grid-row: 1;
	grid-column: 4;
	text-align: right;
	justify-self: center;
}
footer > div {
	justify-content: space-around;
}
footer > a {
	border-radius: 5px;
	padding: 15px;
	font-size: 20px;
	margin: 1rem 0;
	display: flex;
	justify-content: space-between;
}
@media only screen and (max-width: 1023px) {
	body {
		grid-template-columns: auto 300px;
	}
	nav {
		grid-column: 1;
		margin: 3rem 0 -3rem auto;
		padding: 1rem;
		z-index: 1;
		width: min(34rem, calc(100% - 2rem));
		height: min-content;
		display: flex;
		gap: 1rem;
	}
	nav > a {
		height: min-content;
		margin: 0;
	}
	article {
		grid-column: 1;
		margin: 0 0 0 auto;
		padding-left: 1rem;
	}
	article > h1 {
		grid-row: 1;
		grid-column: 1;
		margin-bottom: 3rem;
	}
	footer {
		grid-column: 2;
	}
}
@media only screen and (max-width: 767px) {
	body {
		grid-template-rows: 1fr min-content;
		grid-template-columns: auto;
	}
	#page_bottom_indicator {
		display: none;
	}
	article {
		margin: 0 auto;
		padding-right: 1rem;
	}
	nav {
		width: min(35rem, calc(100% - 2rem));
		margin: 3rem auto -3rem auto;
	}
	footer {
		grid-row: 2;
		grid-column: 1;
		margin: 0;
		padding: 0;
		width: 100%;
		background: var(--background-down-1);
	}
	footer > div {
		display: flex;
	}
	footer > a {
		margin: 0.75rem 1rem;
	}
}
