.hidden {
	display: none !important;
}
title, style {
	display: none;
}
body {
	margin: 0;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	color: var(--text);
	background: var(--background);
}
a {
	color: inherit;
	text-decoration: inherit;
}
