{% extends "layout.html" %}
{% block body %}

{% for post in posts %}
  {% if post['type'] == 'text' %}
  <div class="card textCard">
    <div class="cardHeader">
      <i class="material-icons" style="font-size:80px;vertical-align:text-bottom;">subject</i>
      <h2>{{ post['title'] }}</h2>
    </div>
    <small>{{ post['date'] }}</small>
    {% for paragraph in post['text'] %}
      <p>{{ paragraph }}</p>
    {% endfor %}
  </div>
  {% elif post['type'] == 'audio' %}
  <div class="card audioCard">
    <div class="cardHeader">
      <i class="material-icons" style="font-size:80px;vertical-align:text-bottom;">headset</i>
      <h2>{{ post['title'] }}</h2>
    </div>
    <iframe src="https://drive.google.com/file/d/{{post['url']}}/preview" width="570" height="400" style="border:none;"></iframe>
    <small>{{ post['date'] }}</small>
    {% for paragraph in post['text'] %}
      <p>{{ paragraph }}</p>
    {% endfor %}
  </div>
  {% elif post['type'] == 'code' %}
  <div class="card codeCard">
    <div class="cardHeader">
      <i class="material-icons" style="font-size:80px;vertical-align:text-bottom;">code</i>
      <h2>{{ post['title'] }}</h2>
    </div>
    <iframe src="https://drive.google.com/file/d/{{post['url']}}/preview" width="570" height="400" style="border:none;"></iframe>
    <small>{{ post['date'] }}</small>
    {% for paragraph in post['text'] %}
      <p>{{ paragraph }}</p>
    {% endfor %}
  </div>
  {% elif post['type'] == 'image' %}
  <div class="card imageCard">
    <div class="cardHeader">
      <i class="material-icons" style="font-size:80px;vertical-align:text-bottom;">image</i>
      <h2>{{ post['title'] }}</h2>
    </div>
    <iframe src="https://drive.google.com/file/d/{{post['url']}}/preview" width="570" height="400" style="border:none;"></iframe>
    <small>{{ post['date'] }}</small>
    {% for paragraph in post['text'] %}
      <p>{{ paragraph }}</p>
    {% endfor %}
  </div>
  {% elif post['type'] == 'video' %}
  <div class="card videoCard">
    <div class="cardHeader">
      <i class="material-icons" style="font-size:80px;vertical-align:text-bottom;">play_arrow</i>
      <h2>{{ post['title'] }}</h2>
    </div>
    <iframe width="570" height="320" src="https://www.youtube.com/embed/{{ post['url'] }}?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <small>{{ post['date'] }}</small>
    {% for paragraph in post['text'] %}
      <p>{{ paragraph }}</p>
    {% endfor %}
  </div>
  {% elif post['type'] == 'yearMarker' %}
  <div class="divider"><hr><p>{{ post['text'] }}</p><hr></div>
  {% else %}
  <p>{{post}}</p>
  {% endif %}
{% endfor %}

<div class="divider"><hr> <a href="http://beta.spideyclick.net/?index={{ index + maxPosts }}" style="text-decoration:none;"><p>older</p></a><hr></div>

{% endblock %}
