<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>spideyclick.net</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel=stylesheet type=text/css href="css/style.css">

<script type="text/javascript">
  function filterPosts(filter) {
    var postTypes=['image', 'text', 'video', 'audio', 'code']
    for (var i = 0; i < postTypes.length; i++) {
      theseDivs=document.getElementsByClassName(postTypes[i] + 'Card');
      for (var j = 0; j < theseDivs.length; j++) {
        if (filter == postTypes[i] || filter == 'all') {
          theseDivs[j].style.display='block';
        } else {
          theseDivs[j].style.display='None';
        }
      }
    }
  }
</script>

</head>

<body>
  <div id="pageHeader">
    <p style="padding:5px;">spideyclick.net | </p>
    <p class="navigationLink" onclick="filterPosts('all')">all</p>
    <p class="navigationLink" onclick="filterPosts('code')">code</p>
    <p class="navigationLink" onclick="filterPosts('video')">video</p>
    <p class="navigationLink" onclick="filterPosts('audio')">audio</p>
    <p class="navigationLink" onclick="filterPosts('image')">image</p>
    <p class="navigationLink" onclick="filterPosts('text')">general</p>
  </div>
  <div class="mainContent">
    {% block body %}{% endblock %}
  </div>
</body>

</html>
